/* Simple CSS for our gallery block v1.0 */

@import '_mixins.scss';


.ad-acf-block-gallery {}
.ad-acf-block-container {}

.acf-block-gallery-pictures {
	display: flex;
	justify-content: flex-start; 
	flex-wrap: wrap;
	margin: 0 -1px;
}

[class*="acf-block-gallery-item-"] {
	padding: 1px;
	width: 50%;
}

.acf-block-gallery-item-2cols,
.acf-block-gallery-item-3cols,
.acf-block-gallery-item-4cols,
.acf-block-gallery-item-6cols {
	//width: 50%;
}

@include rwd(large) {
	.acf-block-gallery-item-6cols {
		width: 16.6667%;
	}
	.acf-block-gallery-item-4cols {
		width: 25%;
	}
	.acf-block-gallery-item-3cols {
		width: 33.3333%;
	}
	.acf-block-gallery-item-2cols {
		width: 50%;
	}
}

.acf-block-gallery-figure {
	position: relative;
	margin-bottom: 0;
	overflow: hidden;

	img {
		display: block;
		width: 100%;
		height: auto;
		transition: .2s ease-in-out;
	}

}
.acf-block-gallery-caption  {
	
	&::before {
		content: none;
	}
	
	.acf-block-gallery-item-6cols & {
		@include a11y-hidden();
	}
}

@include rwd(large) {
	
	.acf-block-gallery-caption {
		position: absolute;
		top: 0; 
		left: 0;
		width: 100%; 
		height: 100%;
		margin: 0;
		padding: 0;
		background-color: rgba(0,0,0,.75);
		opacity: 0;
		transition: opacity .2s ease-in-out;
		
		display: flex;
		justify-content: center;
		align-items: center;

		color: #fff;
		text-align: center;
		pointer-events: none;

	}
	.acf-block-gallery-caption-title {
		margin: 0;
	}
	
	.acf-block-gallery-figure {
		margin: 0;
		
		a:hover,
		a.focus-visible {
			
			& + figcaption,
			.acf-block-gallery-caption {
				opacity: 1;
			}
			img {
				opacity: .75;
				transform: scale(.9);
			}
		}
		a:focus {
			outline: none;
		}
	} 

}
