/* Simple CSS for our gallery block v1.0 */

@import '_mixins.scss';


.ad-acf-block-gallery {}
.ad-acf-block-container {}

.acf-block-gallery-pictures {
	display: flex;
	justify-content: flex-start; 
	flex-wrap: wrap;
	margin: 0 -1px;
}

.acf-block-gallery-item {
	padding: 1px;
	width: 50%;

	@include rwd(large) {
		.gallery-6cols & {
			width: 16.6667%;
		}
		.gallery-4cols & {
			width: 25%;
		}
		.gallery-3cols & {
			width: 33.3333%;
		}
		.gallery-2cols & {
			width: 50%;
		}
	}
}

.acf-block-gallery-figure {
	position: relative;
	margin-bottom: 0;
	overflow: hidden;

	img {
		display: block;
		width: 100%;
		height: auto;
		transition: .2s ease-in-out;
	}

}
.acf-block-gallery-caption  {
	
	&::before {
		content: none;
	}
	
	.gallery-6cols & {
		@include a11y-hidden();
	}
}

@include rwd(large) {
	
	.acf-block-gallery-caption {
		position: absolute;
		bottom: 0; 
		left: 0;
		width: 100%; 
		margin: 0;
		padding: 1rem;
		background-color: rgba(0,0,0,.75);
		transition: .2s ease-in-out;
		
		display: flex;
		justify-content: center;
		align-items: center;

		color: #fff;
		text-align: center;
		pointer-events: none;
		
		.gallery-4cols & {
			font-size: 75%;
		}
	}
	.acf-block-gallery-caption-title {
		margin: 0;
	}
	
	.acf-block-gallery-figure {
		margin: 0;
		
		a:hover,
		a.focus-visible {
			
			& + figcaption,
			.acf-block-gallery-caption {
				opacity: 0;
				transform: scale(.95);
			}
			img {
				opacity: .75;
			}
		}
		a:focus {
			outline: none;
		}
	} 

}
